<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{{page_title}}{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body style="margin:auto;text-align:center">
        {%block flashmessage %}
            {% for type, messages in app.session.flashbag.all() %}
               {% for message in messages %}
                 <div style="border:1px solid #fff">{{message}}</div>
               {% endfor %}
             {% endfor %}
        {%endblock %}
        {% block body %}{% endblock %}
    </body>
</html>
